h1 {
    color:white;
    font-size: 4em;
}

h2 {
    color:white;
    font-size: 3em;
}

/*h3 {
    color:yellow;
    font-size: 16em;
    opacity: 6;
}*/

/*body {
  background-color: #fffacd;

}
*/

ul.ipro_menu li.active-parent > a {
  color: #FF0000;
}


table {
  table-layout: auto ;
  width: 25% ;
  color:white;
      font-size: 2em;
}
td {
  width: 25% ;
}


body {
  background-image:url('images/MercedesDark.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

@media (max-width: 400px) {
    .table-responsive {
        font-size:20px !important;
    }
}

/* styles.css */

.completed-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    z-index: 9999;
}

.completed-text {
    font-size: 150px;
    font-weight: bold;
    color: yellow !important;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: .7;
}

/*body {
    background-image:url('images/WhiteHouse.jpg');\
    color:white;
}
*/