h1 {
    color:white;
    font-size: 4em;
}

h2 {
    color:white;
    font-size: 3em;
}

/*body {
  background-color: #fffacd;

}
*/

ul.ipro_menu li.active-parent > a {
  color: #FF0000;
}


table {
  table-layout: auto ;
  width: 25% ;
  color:white;
      font-size: 2em;
}
td {
  width: 25% ;
}


body {
  background-image:url('images/MercedesDark.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

@media (max-width: 400px) {
    .table-responsive {
        font-size:20px !important;
    }
}

/*body {
    background-image:url('images/WhiteHouse.jpg');\
    color:white;
}
*/