<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <div th:replace="fragments :: header"/>
</head>

<body style="background-color:#EDF1FF">

<div th:replace="fragments :: navigation"></div>

<link th:href="@{/css/style_bugatti.css}" rel="stylesheet"/>

<div align="center">

    <h4 style="text-align: center;">About</h4>

    <p style="text-align: center; color: white; font-size: 18px;">This is the best car service
    <p style="text-align: center; color: white; font-size: 18px;">We are open 10 am - 6 pm
    <p style="text-align: center; color: white; font-size: 18px;">Our Address: blah, blah</p>

</div>

</body>
</html>