<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Filled Order</title>
    <div th:replace="fragments :: header"/>
</head>

<body style="background-color:#EDF1FF">

<div th:replace="fragments :: navigation"></div>

<link th:href="@{/css/style_mercedes_dark.css}" rel="stylesheet"/>

<body>
<h1>Filled Order <span th:text="${order.id}"></span></h1>

<h2>Selected Services:</h2>

<ul>
    <li th:if="${#bools.isTrue(order.oilChange)}">Oil Change</li>
    <li th:if="${#bools.isTrue(order.toWinter)}">Change Tires to Winter</li>
    <li th:if="${#bools.isTrue(order.toSummer)}">Change Tires to Summer</li>
</ul>

<div align="center">

<!--    <h2 style="text-align: center;">Removed Tire IDs:</h2>-->

<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <td>-->
<!--            id-->
<!--        </td>-->
<!--        <td>-->
<!--            name-->
<!--        </td>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="tire : ${order.customer.car.tireList}">-->
<!--        <td th:text="${tire.tireId}">-->

<!--        </td>-->
<!--        <td th:text="${tire.make}">-->

<!--        </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

    <h2 style="text-align: center;">Tire List:</h2>

    <table>
        <thead>
        <tr>
            <th>Tire ID</th>
            <th>Tire Type</th>
            <th>Tire Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tire : ${order.customer.car.getInstalledTires()}">
            <td th:text="${tire.tireId}"></td>
            <td th:text="${tire.type}"></td>
            <td th:text="${tire.status}"></td>
        </tr>
        </tbody>
    </table>

<br>
    <br>
    <br>

    <h2 style="text-align: center;">Winter To Replace Tire IDs:</h2>
    <table>
        <thead>
        <tr>
            <td>
                id
            </td>
            <td>
                name
            </td>
            <td>
                status
            </td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tire : ${order.customer.car.getBookedTires()}">
            <td th:text="${tire.tireId}"></td>
            <td th:text="${tire.type}"></td>
            <td th:text="${tire.status}"></td>
        </tr>
        </tbody>
    </table>

    <h2 style="text-align: center;">Mechanic Assigned: <span th:text="${order.employee.firstName}"></span></h2>

    <br>
    <br>


<!--    <form th:action="@{/order/completed/{orderId}(orderId=${order.id})}" method="post">-->
<!--        <label><input type="checkbox" name="orderCompleted"> Order Completed</label>-->
<!--        <button type="submit">Submit</button>-->
<!--    </form>-->

<!--    <form th:action="@{/order/completed/{orderId}(orderId=${order.id})}" method="post">-->
<!--        <label><input type="checkbox" id="orderCompletedCheckbox" name="orderCompleted"> Order Completed</label>-->
<!--        <button type="submit" id="submitButton" disabled>Submit</button>-->
<!--    </form>-->

    <form th:action="@{/order/completed/{orderId}(orderId=${order.id})}" method="post">
        <label><input type="checkbox" name="orderCompleted" th:disabled="${order.completed}"> Order Completed</label>
        <button type="submit" th:disabled="${order.completed}">Submit</button>
    </form>

    <script>
        document.getElementById('orderCompletedCheckbox').addEventListener('change', function() {
            document.getElementById('submitButton').disabled = !this.checked;
        });
    </script>

    <br>
    <br>
    <br>
    <br>

</div>
</body>
</body>>

</html>


